h1{
    text-transform: capitalize;
    color: orange;
}
.source{
    color: white;
}
body{
    background-color: indianred;
    margin: 0 30%;
    width: 800px;
    position: center;

}
img{
    position: center;
    width: 100%;
    max-width: 800px;
    min-width: 800px;
    padding-top: 31px;
}
.para1{

    max-width: 25%;
    float: left;
    margin-left: 10px;
    background-color:rgba(192,192,192,0.3);
    text-align: center;

}
.para2{
    right: 80%;
    max-width: 70%;
    float: right;
    background-color:rgba(192,192,192,0.3);
    text-align: center;
}
.para2 ul{
    list-style: none;
    display: block;
    text-align: initial;
}
.button {
    background:url(images/button.png);
    border-radius: 10px;
    color: white;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    min-font-size: 10px;
    margin-left: 21px;
    cursor: pointer;
    width: 129px;
    text-transform: capitalize;
}
.button:hover{
    background:url(images/buttonActive.png);
}
h2{
    color: goldenrod;
}